<h1>Корзина</h1>
{{#if cat.length}}
    <table>
        <thead>
        <tr>
            <th>Питомец</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {{#each cat}}
            <tr>
                <td>{{breed}}</td>
                <td>{{count}}</td>
                <td>{{price}}</td>
                <td>
                    <button class="btn red">Удалить</button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
        <p  class="total-price">Цена: <span class="price">{{price}}</span></p>
    <div class="row center-align">
        <button class="btn btn-large">Оформить заказ</button>
    </div>


{{else}}
    <p>Корзина пуста</p>
{{/if}}
