<h1>{{cat.breed}}</h1>
<table>
    <tbody>
    <tr>
        <td>Порода</td>
        <td>{{cat.breed}}</td>
    </tr>
    <tr>
        <td>Возраст</td>
        <td>{{cat.age}}</td>
    </tr>
    <tr>
        <td>Цена</td>
        <td><span class="price">{{cat.price}}</span></td>
    </tr>
    <tr>
        <td>Вес</td>
        <td>{{cat.weight}}</td>
    </tr>
    </tbody>
</table>
<h2>Описание</h2>
<div class="row">
    <p>{{cat.description}}</p>
</div>